# Dependency directories
node_modules

*.log*

# nuxt.js build output
.nuxt

# parcel-bundler cache (https://parceljs.org/)
.cache

# dotenv environment variables file
.env

# Nuxt generate
dist

# macOS
.DS_Store

.output

.nitro